

 .top-links {
  margin-left: 735px;
  font-family: 'Helvetica', serif;
  color: #9bff89;
  font-size: 18px;
  }

 .title{
  margin-left: 71px;
  font-family: 'Helvetica', serif;
  color: #9bff89;
  font-size: 48px;
  font-weight: 500;
  }

 .second-title {
  margin-left: 71px;
  font-family: 'Helvetica', sans-serif;
  color: #9bff89;
  font-size: 48px;
  font-weight: 400;
  }

 .body {
  background-color: #27a1b1;
  color: black;
  text-align: left;
  }

 .text {
  background-color : #9bff89;
  display: inline-block;
  width: 650px;
  height: 200px;
  margin-right: 7px;
  margin-left: 60px;
  padding-right: 1px;
  padding-left: 0px;
  border-width: 0px;
  }

 .picture-2 {
  margin-left: 25px;
  }

 .text-2 {
  margin-top: 15px;
  margin-left: 123px;
  }
